<!DOCTYPE html>    {% load static %}
<html>
  <head>
    {% include "public/glob_css__.html" %}
    <title>登录 - Program Manger</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Program Manger</h1>
           {{ form.errors }}
      </div>
      <div class="login-box">
        <form class="login-form" action="{% url 'login' %}" method="post"> {% csrf_token %}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>登 录</h3>
          <div class="form-group">
            <label class="control-label">用户名:</label>
            <input class="form-control" type="text" placeholder="用户名"  name="email">
          </div>
          <div class="form-group">
            <label class="control-label">密码:</label>
            <input class="form-control" type="password" placeholder="密码" name="password" >
          </div>
          <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
                <label>
                  <input type="checkbox"><span class="label-text">记住密码</span>
                </label>
              </div>
{#              <p class="semibold-text mb-2"><a href="#" data-toggle="flip">忘记密码?</a></p>#}
            </div>
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>登 录</button>
          </div>
        </form>
        {% comment %}
        <form class="forget-form" action="index.html">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>{% endcomment %}


      </div>
    </section>

    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>
