{% extends 'public/base.html' %}        {% load static %}
{% block title %}
    <title>
        Changge Password_View - Program Manger
    </title>
{% endblock title %}

{% block user_css_ %}  {% endblock %}
{% block page_css_plugin %}  {% endblock %}

{% block page_js_plugin %}   {#  页面引用js脚本   #} {% endblock %}
{% block user_js %}{# 用户自写javascript #} {% endblock %}

{% block app-title %}
    <h1><i class="fa fa-dashboard"> </i> 修改密码</h1>
    <p>修改密码</p>
{% endblock %}

{% block app-breadcrumb %} {# 右边面包屑 #}
    <li class="breadcrumb-item"><i class="fa fa-paste fa-lg"></i></li>
    <li class="breadcrumb-item active"><a href="#">修改密码 </a></li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <form action="{% url 'user_change_password' pk=user_obj.pk %}" method="post"> {% csrf_token %}
                    {{ form.as_p }}
                        <input type="submit" value="提交">
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}