{% extends 'public/base.html' %}        {% load static %}
{% block title %}
    <title>
        Dashboard - Program Manger
    </title>
{% endblock title %}

{% block user_css_ %}  {% endblock %}
{% block page_css_plugin %}  {% endblock %}

{% block page_js_plugin %}   {#  页面引用js脚本   #} {% endblock %}
{% block user_js %}{# 用户自写javascript #} {% endblock %}

{% block app-title %}
    <h1><i class="fa fa-dashboard"> </i> Dashboard</h1>
    <p>主页看板</p>
{% endblock %}

{% block app-breadcrumb %} {# 右边面包屑 #}
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">Dashboard</div>
            </div>
        </div>
    </div>
{% endblock %}