<div id="response" ic-id="1" class="">
    <p><label for="id_password">Password:</label>
        <input type="text" name="password"
               value="pbkdf2_sha256$36000$Orys7qDg3mrN$1cC5EXOQT294bT1tV3/+5iXYC9bxNjNOFXjNpNMFb6k="
               maxlength="128" required=""
               id="id_password"></p>
    <p>
        <label for="id_last_login">Last login:</label> <input type="text" name="last_login" value="2018-03-12 09:01:39"
                                                             id="id_last_login">
    </p>

    <p>
        <label for="id_email">Email:</label> <input type="email" name="email" value="bb@qq.com" maxlength="255"
                                                   required="" id="id_email">
    </p>
    <p>
        <label for="id_user_name">User name:</label> <input type="text" name="user_name" value="bb" maxlength="255"
                                                           required="" id="id_user_name">
    </p>
    
    <p><label for="id_is_active">Is active:</label>
        <input type="checkbox" name="is_active" id="id_is_active" checked="">
    </p>
    <p><label for="id_staff">Staff:</label> <input type="checkbox" name="staff" id="id_staff"></p>
    <p><label for="id_admin">Admin:</label> <input type="checkbox" name="admin" id="id_admin"></p>
</div>